[submodule "odoo/external-src/l10n-switzerland"]
	path = odoo/external-src/l10n-switzerland
	url = git@github.com:OCA/l10n-switzerland.git
[submodule "odoo/src"]
	path = odoo/src
	url = git@github.com:OCA/OCB.git
[submodule "odoo/external-src/server-tools"]
	path = odoo/external-src/server-tools
	url = git@github.com:OCA/server-tools.git
[submodule "odoo/external-src/account-financial-reporting"]
	path = odoo/external-src/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting
[submodule "odoo/external-src/account-financial-tools"]
	path = odoo/external-src/account-financial-tools
	url = git@github.com:OCA/account-financial-tools
[submodule "odoo/odoo/external-src/enterprise"]
	path = odoo/odoo/external-src/enterprise
	url = git@github.com:odoo/enterprise
[submodule "odoo/external-src/enterprise"]
	path = odoo/external-src/enterprise
	url = git@github.com:odoo/enterprise
